
    <div>
        <h1>Students Page</h1>

        <table class="table table-fixed">
            <thead>
                <tr>
                    <th class="col-xs-2">Student ID</th>
                    <th class="col-xs-4">First Name</th>
                    <th class="col-xs-4">Last Name</th>
                    <th class="col-xs-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in students">
                    <td class="col-xs-2">{{student.IDNumber}}</td>
                    <td class="col-xs-4">{{student.FirstName}}</td>
                    <td class="col-xs-4">{{student.LastName}}</td>
                    <td class="col-xs-2">
                        <button type="button" class="btn btn-default" 
                                ng-controller="studentModalController as $modal" 
                                ng-click="$modal.edit(student.StudentID)">Edit</button>
                        <button type="button" class="btn btn-default" 
                                ng-click="delete(student.StudentID)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-default" 
                ng-controller="studentModalController as $modal" 
                ng-click="$modal.add()">Add</button>
    </div>